{% extends 'base.html' %}
{% load i18n %} {# Загружаем теги интернационализации #}

{% block title %}{% trans "Бюджеты для граждан" %}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans "Главная" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'about:leadership_list' %}">{% trans "Об айыл окмоту" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Бюджеты для граждан" %}</li>
        </ol>
    </nav>

    <h1 class="my-4">{% trans "Бюджеты для граждан" %}</h1>
    {% if budgets %}
        <div class="list-group">
            {% for budget in budgets %}
                <a href="{% url 'about:budget_detail' slug=budget.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ budget.title }}</h5>
                        <small class="text-muted">{% blocktrans %}{{ budget.budget_year }} год{% endblocktrans %}</small>
                    </div>
                    <p class="mb-1 text-muted small">{% trans "Опубликовано" %}: {{ budget.published_date|date:"d M Y" }}</p>
                    {% if budget.description %}<p class="mb-1">{{ budget.description|truncatechars:100 }}</p>{% endif %}
                    <small><a href="{{ budget.file.url }}" download>{% trans "Скачать файл" %}</a></small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="lead">{% trans "Бюджетов пока нет." %}</p>
    {% endif %}
{% endblock %}