{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:home' %}">{% trans "Айыл Окмоту" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:home' %}">{% trans "Главная" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:list' %}">{% trans "Новости" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'documents:list' %}">{% trans "Документы" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Об айыл окмоту" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
                        <li><a class="dropdown-item" href="{% url 'about:leadership_list' %}">{% trans "Руководство и сотрудники" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'about:department_list' %}">{% trans "Отделы" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'about:report_list' %}">{% trans "Отчеты" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'about:budget_list' %}">{% trans "Бюджеты для граждан" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'about:page_list' %}">{% trans "Информационные страницы" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCouncil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Местный Кенеш" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCouncil">
                        <li><a class="dropdown-item" href="{% url 'council:deputy_list' %}">{% trans "Депутаты" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'council:decision_list' %}">{% trans "Решения Кенеша" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'investors:project_list' %}">{% trans "Для инвесторов" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCommunity" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Сообщество" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCommunity">
                        <li><a class="dropdown-item" href="{% url 'community:advertisement_list' %}">{% trans "Объявления жителей" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'community:blog_list' %}">{% trans "Блоги жителей" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'community:submit_advertisement' %}">{% trans "Подать объявление" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'community:submit_blog_post' %}">{% trans "Написать в блог" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery:album_list' %}">{% trans "Фотогалерея" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Справочная информация" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
                        <li><a class="dropdown-item" href="{% url 'info:phone_list' %}">{% trans "Важные телефоны" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'info:landmark_list' %}">{% trans "Достопримечательности" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'info:static_page_detail' slug='raspisanie-transporta' %}">{% trans "Расписание транспорта" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appeals:submit' %}">{% trans "Обращения" %}</a>
                </li>
            </ul>

            <form class="d-flex me-2" role="search" method="get" action="{% url 'search:results' %}">
                <input class="form-control" type="search" placeholder="{% trans "Поиск" %}" aria-label="{% trans "Поиск" %}" name="q">
                <button class="btn btn-outline-light ms-2" type="submit"><i class="bi bi-search"></i></button>
            </form>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-globe"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownLanguage">
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="language" value="ru">
                                <button type="submit" class="dropdown-item">{% trans "Русский" %}</button>
                            </form>
                        </li>
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="language" value="kg">
                                <button type="submit" class="dropdown-item">{% trans "Кыргызча" %}</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Админка" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:logout' %}">{% trans "Выйти" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:login' %}">{% trans "Войти" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>